.main-title {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
    font-family: Arial, sans-serif;
}

hr {
    margin-bottom: 30px;
}

.secondary-title {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    font-family: Arial, sans-serif;
}

.paragraph {
    font-size: 18px;
    font-family: Arial, sans-serif;
    margin-bottom: 15px;
}

.dotted-underline {
    text-decoration: underline;
    text-decoration-style: dotted;
}

.grey-box {
    background-color: #d5d5d5;
    color: #c5422d;
    padding: 2px 1px;
}

.big-code {
    background-color: #d5d5d5;
    font-size: 18px;
    font-family: Arial, sans-serif;
}

pre {
    padding: 20px 40px;
}

.red {
    color: #c5422d;
}

#final-hr {
    margin-bottom: 15px;
}

#final-block {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.alt-grey-box {
    color: #0cadad;
    background-color: #d5d5d5;
    padding: 1px 2px;
}